<% layout('./layout/boilerplate') -%>

<form action="/user/register" method="post" style="margin: 10px;">
     
      <h1 class="h3 mb-3 fw-normal" style="text-align: center;">Please Register</h1>

        




        <div class="form-floating">
              <input type="text" class="form-control" id="floatingInput" placeholder="Alise" fdprocessedid="w6dxlp" name="username" required>
              <label for="floatingInput">UserName</label>
        </div>
        <div class="form-floating">
             <input type="email" class="form-control" id="floatingPassword" placeholder="dummy@gmail.com" fdprocessedid="i4cjm9" name="email" required>
             <label for="floatingPassword">Email</label>
        </div>

        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" fdprocessedid="i4cjm9" name="password" required>
            <label for="floatingPassword">Password</label>
       </div>
        
        <button class="btn btn-primary w-100 py-2" type="submit" fdprocessedid="3tnd35" style="margin-top: 10px;">Register</button>
    
    
    
    <p class="mt-5 mb-3 text-body-secondary">© 2017–2025</p>
 </form>