<% layout('./layout/boilerplate') -%>
  <div class="container mt-5">
    <h2 class="mb-4">Submit Your campground</h2>
    <form action="/create" method="post">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Enter title">
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="description" rows="4" placeholder="Enter description"></textarea>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input type="text" class="form-control" id="location" name="location" placeholder="Enter location">
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Image URL</label>
        <input type="text" class="form-control" id="image" name="image" placeholder="image url:">
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="number" class="form-control" id="price" name="price" placeholder="Enter price">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  
